:root {
    font-weight: 600;
  }
  .header {
    display: flex;
    justify-content: center;
}
  .todayBlock {
    text-align:left; 
    border: solid 2px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    margin-left: 2px;
    margin-right: 50px;
  }
  
  .card-search {
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 0;
  }
  .card5day{
    text-align:center;
    background: rgba(15, 11, 11, 0.38); 
    border: solid 2px;
    padding: auto;
    color: white;
  }

  img {
  
   float: left;
    width: 70px;
  }
  
  .btn{ 
    color:black; 
    background-color: #989599;  
    font-size: smaller;
    font-weight: bold;
    border-color: black;
    border: 10px;
    width: fit-content;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  p {
    font-size: small;
    line-height: 1em;
    font-family: "Montserrat", sans-serif !important;
  }
  
  h3 {
    margin-left: 1vw;
    margin-top: 1vh;
    font-family: "Montserrat", sans-serif !important;
  }
   

  .card-title {
    font-size: .8rem;
    font-family: "Montserrat", sans-serif !important;
  }
  
  .container {
    width: 90vw;
    border: solid 2px rgb(111, 255, 0);
  }

   #formCity {
    max-width: fit-content;
    font-family: "Montserrat", sans-serif !important;
  }
  
  body {
    height: 100vh; 
  }

.card-header {
  background-color: #242324;
    text-align: center;
    color:white;
}
  p,
  h3,
  h4,
  h5,
  .todayBlock h6 {
    color: black;
  }
  .name-block {
    display: flex;
    align-items: center;
}
  h5, h6 {
    font-weight: 900;
  }
  .display-4 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    padding-top: 10px;
    margin: 50px;
    font-family: "Montserrat", sans-serif !important;
  }
   

  .main-container{
    display: flex;
    width: 90%;

    border: solid 2 px rgb(21, 0, 255);

  }

  .card-search{
  
    width: 25%;
  }

  .weather-container{ 
    width: 75%;
  }
  .row{
    display: flex;
    text-align:center; 
    border: solid 2px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    margin-left: 2px;
    margin-right: 50px;
  }
   
  @media screen and (max-width: 575px) {
    .card-search {
        width: 40%;
    }
    #formCity {
      margin-left: 0px;

    }
    
    .card-search h3 {
        font-size: 15px;
    }

    .input-group {
        display: block;
        text-align: center;
    }

    .weather-container {
        width: 60%;
    }
}